{% extends "layout.html" %}
{% block body_content %}
<div class="container py-4" id="health">
    <div class="text-center">
        <h1 class="section-title mb-4">{{title}}</h1>
    </div>
    <div class="accordion" id="health.accordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              Physical Health
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              <p>
                Ensuring physical health in children is vital for their overall well-being and development. As parents, you play a crucial role in promoting their physical activity and ensuring they lead a healthy lifestyle.
              </p>
              <ul>
                <li><strong>Encourage Regular Exercise:</strong> Encourage your child to engage in regular physical activity, such as playing outdoors, riding bikes, or participating in sports.</li>
                <li><strong>Limit Screen Time:</strong> Set limits on screen time, including TV, video games, and smartphones. Encourage alternative activities that promote physical movement and social interaction.</li>
                <li><strong>Promote Active Transportation:</strong> Encourage walking or biking to school whenever possible instead of driving.</li>
                <li><strong>Provide Nutritious Meals:</strong> Offer a balanced diet rich in fruits, vegetables, whole grains, lean proteins, and healthy fats.</li>
                <li><strong>Ensure Adequate Sleep:</strong> Establish a regular bedtime routine and ensure your child gets enough sleep each night.</li>
                <li><strong>Promote Good Posture:</strong> Encourage your child to sit and stand with good posture to prevent musculoskeletal issues.</li>
                <li><strong>Lead by Example:</strong> Be a positive role model by prioritising your own physical health and leading an active lifestyle.</li>
                <li><strong>Encourage Outdoor Play:</strong> Provide opportunities for outdoor play and exploration.</li>
                <li><strong>Stay Hydrated:</strong> Encourage your child to drink plenty of water throughout the day, especially during physical activity.</li>
                <li><strong>Monitor Health and Development:</strong> Keep track of your child's growth, development, and overall health.</li>
              </ul>
                For more information, you can visit:
                <div>
                    <a href="https://kidshealth.org/en/parents/exercise.html" target="_blank">Kids and Exercise</a><br>
                    <a href="https://www.nhs.uk/live-well/exercise/physical-activity-guidelines-children-under-five-years/" target="_blank">Physical activity guidelines for children (under 5 years)</a>
                </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              Healthy Eating
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
            <p>
                Encouraging healthy eating habits in children is essential for their growth, development, and overall well-being. As parents, you play a crucial role in shaping your child's relationship with food. By providing nutritious meals and creating a positive eating environment, you can help your child establish healthy eating habits that can last a lifetime.
            </p>
            <ul>
                <li><strong>Be a Role Model:</strong> Children learn by observing their parents' behaviour. Set a positive example by eating a variety of healthy foods yourself. Make mealtimes a family affair and enjoy nutritious meals together.</li>
                <li><strong>Offer a Balanced Diet:</strong> Provide a variety of foods from all food groups, including fruits, vegetables, whole grains, lean proteins, and dairy or dairy alternatives. Aim for colourful and diverse meals to ensure your child gets a wide range of nutrients.</li>
                <li><strong>Limit Processed Foods and Sugary Treats:</strong> Minimise the consumption of processed foods, sugary snacks, and sweetened beverages. Instead, opt for whole, minimally processed foods that are rich in nutrients and lower in added sugars, salt, and unhealthy fats.</li>
                <li><strong>Involve Children in Meal Preparation:</strong> Engage your children in meal planning and preparation. Let them help choose fruits and vegetables at the grocers or assist in preparing simple meals and snacks. This can increase their interest in healthy foods and empower them to make better food choices.</li>
                <li><strong>Create a Positive Eating Environment:</strong> Make mealtimes pleasant and stress-free. Avoid using food as a reward or punishment and refrain from pressuring your child to eat certain foods. Create a relaxed atmosphere where your child can explore new foods at their own pace.</li>
                <li><strong>Encourage Mindful Eating:</strong> Teach your child to listen to their body's hunger and fullness cues. Encourage them to eat slowly, savour their food, and stop eating when they feel comfortably full. Discourage eating in front of screens or during other distractions.</li>
                <li><strong>Be Patient and Persistent:</strong> Introducing new foods to children can take time and patience. Be persistent in offering healthy options, even if your child initially refuses them. It may take multiple exposures before they develop a taste for certain foods.</li>
                <li><strong>Stay Hydrated:</strong> Encourage your child to drink plenty of water throughout the day, especially with meals and snacks. Limit the consumption of sugary drinks like fizzy drinks, fruit juice, and sports drinks, as they can contribute to excess calories and tooth decay.</li>
                <li><strong>Practice Moderation:</strong> Allow occasional treats and indulgences in moderation. Teach your child the concept of balance and moderation when it comes to less healthy foods. Encourage them to enjoy special treats as part of a balanced diet rather than as regular staples.</li>
                <li><strong>Seek Professional Advice if Needed:</strong> If you have concerns about your child's eating habits, growth, or nutritional needs, consult a paediatrician or a registered dietitian. They can provide personalised guidance and support to help ensure your child's nutritional needs are met.</li>
            </ul>
            <p>
                For more information, you can visit: <a href="https://www.bda.uk.com/resource/healthy-eating-for-children.html" target="_blank">Healthy Eating for Children</a>
            </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              Health Checks
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
                <p>
                    Health checks available for children in the UK are designed to monitor their physical and developmental well-being from birth through childhood. These health checks are typically provided by the National Health Service (NHS) and aim to detect any potential health issues early on, allowing for timely intervention and support.
                  </p>
                  <ul>
                    <li><strong>Newborn Physical Examination:</strong> Conducted within 72 hours of birth to assess the baby's overall health, including heart, lungs, abdomen, and hips, along with screening tests for certain conditions such as hip dysplasia and congenital heart defects.</li>
                    <li><strong>Developmental Checks:</strong> Carried out at various intervals, these assess the child's physical, cognitive, and social development, ensuring they are meeting key milestones.</li>
                    <li><strong>Vaccination Programmes:</strong> Offering protection against diseases such as measles, mumps, rubella, and polio through scheduled vaccinations according to the NHS vaccination schedule.</li>
                    <li><strong>Dental Checks:</strong> Regular dental check-ups are essential for monitoring oral health and detecting any dental issues early on.</li>
                    <li><strong>School Health Reviews:</strong> Conducted by school nurses to assess vision, hearing, growth, and mental well-being.</li>
                    <li><strong>Vision and Hearing Screening:</strong> Routinely offered to school-age children to detect any issues that may affect learning and development.</li>
                    <li><strong>Mental Health Support:</strong> Providing counselling, therapy, and access to mental health professionals for children experiencing emotional difficulties or mental health conditions.</li>
                    <li><strong>Healthy Child Programme:</strong> Offering health and development services from birth to age 19, including health visiting, school nursing, and family support, to promote healthy lifestyles and support families.</li>
                  </ul>
                     For more information, you can visit:
                  <div>
                      <a href="https://www.expatica.com/uk/healthcare/healthcare-services/children-healthcare-uk-672201/" target="_blank">Children's Health Checks UK</a>
                  </div>
            </div>
          </div>
        </div>
         <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
              Health Events
            </button>
          </h2>
          <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
            <div class="accordion-body">
                <p>
                    Attending health events offers you invaluable opportunities to engage with healthcare professionals, learn about various aspects of your child's well-being, and access important resources and support.
                    These events cover a wide range of topics related to children's health, including nutrition, physical activity, mental health, developmental milestones, and preventive care.
                </p>
                <p>
                    By participating in these events, you can stay informed about the latest recommendations and guidelines for promoting your child's health and development. Gain insights into best practices for nutrition,
                    hygiene, safety, and other essential aspects of childcare. Additionally, receive guidance on recognising signs of potential health issues and accessing appropriate healthcare services when needed.
                </p>
                <p>
                    Moreover, health events provide opportunities for you to connect with other families, share experiences, and build supportive networks within your community. By engaging in these events, you can feel
                    empowered to take proactive steps towards safeguarding your child's health and ensuring their overall well-being.
                </p>
                <p>
                    Overall, attending health events for children is crucial for you to stay informed, engaged, and proactive in promoting your child's health and development from infancy through adolescence. It's an
                    investment in your child's future well-being and a demonstration of your commitment to providing the best possible care and support.
                </p>
                For more Events, you can visit:
                 <div>
                      <a href="https://www.eventbrite.co.uk/d/united-kingdom--london/child-health/" target="_blank">Events on Event Brite</a>
                  </div>
            </div>
          </div>
        </div>
    </div>
    </div>

{% endblock %}