{% extends "layout.html" %}
{% block body_content %}
<div class="container-xxl py-4">
    <div class="container">
        <div class="text-center">
            <h1 class="section-title mb-4">{{title}}</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 mb-2">
                <div class="card elevated-card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Health Support Information for your child</h5>
                        <p class="card-text"></p>
                        <a href="/parent_health" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-2">
                <div class="card elevated-card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Wellness Support Info for your child</h5>
                        <p class="card-text"></p>
                        <a href="/parent_wellness" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 mb-2">
                <div class="card elevated-card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Parent Education Support</h5>
                        <p class="card-text"></p>
                        <a href="/parent_education" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-2">
                <div class="card elevated-card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Find Volunteers</h5>
                        <p class="card-text"></p>
                        <a href="/parent_volunteer_search" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
