{% extends "layout.html" %}

{% block body_content %}
<div class="container-xxl py-4">
    <div class="container">
        <div class="text-center">
            <h1 class="section-title mb-4">{{title}}</h1>
        </div>
        <div class="custom-section"> <!-- Apply custom styling -->
            <p> At <strong>[App Name]</strong>, we believe that every child has the potential to succeed and thrive when
                provided with the right tools and guidance. Our platform is dedicated to empowering children to learn, grow,
                and develop healthy habits and routines that will set them up for a lifetime of success and well-being.</p>

            <h2 class="text-center">Our Mission</h2>
            <p>Our Mission is simple yet profound: to educate children in a fun and engaging way whilst instilling in
                them the importance of building healthy habits and routines. We strive to inspire a love for learning
                and self-improvement while promoting physical, mental, and emotional well-being.</p>

            <h2 class="text-center">What We Offer</h2>
            <ul>
                <li><strong>Education:</strong> We provide access to educational resources, tutorials, and interactive
                    learning activities tailored to the needs of children aged 6-8.</li>
                <li><strong>Health and Wellness Support:</strong> We offer resources, including tips for maintaining
                    physical and mental well-being, access to healthcare services, and support for healthy lifestyle
                    choices.</li>
                <li><strong>Community Engagement:</strong> Children can participate in community engagement events,
                    workshops, and recreational activities that promote social inclusion, teamwork, and leadership skills.</li>
                <li><strong>Parental Support:</strong> Parents play a crucial role in their children's development.
                    That's why we offer resources and tools for parents to actively participate in their
                    child's learning journey. From monitoring progress to accessing expert advice and parenting tips,
                    we strive to support parents in fostering a supportive and nurturing environment for their children.</li>
                <li><strong>Volunteers:</strong> We connect parents with volunteers who provide guidance, support, and
                    inspiration to help them navigate challenges and achieve success.</li>
            </ul >

            <h2 class="text-center">Why Choose Us </h2>
            <ul>
                <li><strong>Engaging and Interactive:</strong> We are designed to be interactive and engaging, making learning
                    fun and enjoyable for children of all ages. With colourful graphics, playful animations, and
                    immersive activities, we captivate children's attention and keep them motivated to learn and grow.</li>
                <li><strong>Personalised Learning Experience:</strong> We recognise that every child is unique, with
                    their own interests, strengths, and learning styles. That's why we tailor our content and recommendations
                    to meet the individual needs of each child, providing a personalised learning experience that fosters
                    confidence and success.</li>
                <li><strong>Promoting Well-being:</strong> Beyond academic achievement, we prioritise the holistic
                    well-being of children. By promoting healthy habits and routines, teaching mindfulness and resilience
                    skills, and fostering positive social connections, we empower children to thrive in all aspects of their lives.</li>
            </ul >

            <h2 class="text-center">Join Us on this Journey</h2>
            <p>Whether your child is just beginning their educational journey or seeking to enhance their skills and knowledge,
                "Name" is here to support them every step of the way. Join us on this exciting adventure of learning, growth,
                and self-discovery, and together, let's help children reach their full
                potential and flourish in today's world.</p>
            <p>We invite you to join us in our mission to empower children and create a brighter future for generations
                to come. Whether you're a volunteer, donor, partner organisation, or supporter, your contributions make
                a meaningful impact on the lives of children in need.</p>
            <p>Together, we can break down barriers, bridge divides, and build a world where every child has the
                opportunity to thrive.</p>
        </div>
    </div>
</div>
{% endblock %}

