{% extends "layout.html" %}

{% block body_content %}
<div class="container-xxl py-4">
    <div class="container">
        <div class="text-center">
            <h1 class="section-title mb-4">{{title}}</h1>
        </div>

        <div >
            <p>Welcome to <strong>[App Name]</strong>, a revolutionary platform dedicated to empowering marginalised children across the UK. Our mission is to provide access to make education engaging, promote health and wellness, foster community engagement, and offer opportunities to children who face social, economic, and educational challenges.</p>

            <h2 class="text-center">Our Vision</h2>
            <p>Our vision is to build a world where every child has equal opportunities for growth, development, and success. We envision a future where marginalised children are empowered to break the cycle of poverty, overcome barriers, and become leaders in their communities.</p>

            <h2 class="text-center">What We Offer</h2>
            <ul>
                <li><strong>Education:</strong> Our app provides access to educational resources, tutorials, and interactive learning activities tailored to the needs of marginalised children.</li>
                <li><strong>Health and Wellness Support:</strong> We offer health and wellness resources, including tips for maintaining physical and mental well-being, access to healthcare services, and support for healthy lifestyle choices.</li>
                <li><strong>Community Engagement:</strong> Children can participate in community engagement events, workshops, and recreational activities that promote social inclusion, teamwork, and leadership skills.</li>
                <li><strong>Volunteers:</strong> Our app connects marginalised children with volunteers who provide guidance, support, and inspiration to help them navigate challenges and achieve success.</li>
            </ul >

            <h2 class="text-center">Join Us in Making a Difference</h2>
            <p>We invite you to join us in our mission to empower marginalised children and create a brighter future for generations to come. Whether you're a volunteer, donor, partner organisation, or supporter, your contributions make a meaningful impact on the lives of children in need.</p>
            <p>Together, we can break down barriers, bridge divides, and build a world where every child has the opportunity to thrive.</p>
        </div>
    </div>
</div>
{% endblock %}
