{% extends "layout.html" %}
{% block body_content %}
<!--welcome container that links to sections in the page -->
<div class="container-xxl py-4">
    <div class="container">
        <div class="text-center">
             <!--  TODO: Create a banner where the writing goes through the middle -->
            <h1 class="section-title mb-4">{{title}}</h1>
        </div>
        <div>
            <div class="container py-4" id="faq">
                <!--  TODO: Style these to go with the page (maybe into buttons and add space between each) -->
                <div class="text-center">
                    <h1 class="section-title mb-4 text-primary"> </h1>
                    <a href="#mentalhealth">Mental Health</a>
                    <a href="#hygiene">Hygiene</a>
                    <a href="#sleep">Sleep</a>
                    <a href="#training">Parent Training Support</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Mental Health Container 1 -->
<div class="wave-container">
    <div id="mentalhealth" class="container-xxl py-4">
        <div class="container">
            <h2 class="section-title mb-4 text-primary">Feelings and Emotions </h2>
             <!--  TODO: Actually add my content within the page and add a divider and colour for fun -->
            <p>
                Ensuring physical health in children is vital for their overall well-being and development. As parents, you play a crucial role in promoting their physical activity and ensuring they lead a healthy lifestyle.
            </p>
            <ul>
                <li><strong>Encourage Regular Exercise:</strong> Encourage your child to engage in regular physical activity, such as playing outdoors, riding bikes, or participating in sports.</li>
                <li><strong>Limit Screen Time:</strong> Set limits on screen time, including TV, video games, and smartphones. Encourage alternative activities that promote physical movement and social interaction.</li>
                <li><strong>Promote Active Transportation:</strong> Encourage walking or biking to school whenever possible instead of driving.</li>
                <li><strong>Provide Nutritious Meals:</strong> Offer a balanced diet rich in fruits, vegetables, whole grains, lean proteins, and healthy fats.</li>
                <li><strong>Ensure Adequate Sleep:</strong> Establish a regular bedtime routine and ensure your child gets enough sleep each night.</li>
                <li><strong>Promote Good Posture:</strong> Encourage your child to sit and stand with good posture to prevent musculoskeletal issues.</li>
                <li><strong>Lead by Example:</strong> Be a positive role model by prioritising your own physical health and leading an active lifestyle.</li>
                <li><strong>Encourage Outdoor Play:</strong> Provide opportunities for outdoor play and exploration.</li>
                <li><strong>Stay Hydrated:</strong> Encourage your child to drink plenty of water throughout the day, especially during physical activity.</li>
                <li><strong>Monitor Health and Development:</strong> Keep track of your child's growth, development, and overall health.</li>
            </ul>
            For more information, you can visit:
            <div>
                <a href="https://kidshealth.org/en/parents/exercise.html" target="_blank">Kids and Exercise</a><br>
                <a href="https://www.nhs.uk/live-well/exercise/physical-activity-guidelines-children-under-five-years/" target="_blank">Physical activity guidelines for children (under 5 years)</a>
            </div>
            <!--  TODO: Add a button or navigation to send your child  -->
            <p>Click here for fun games for your child</p>
        </div>
    </div>
</div>

<!-- Hygiene container  2 -->
<div id="hygiene" class="container-xxl py-4">
    <div class="container">
        <h2 class="section-title mb-4 text-primary">Why is good hygiene important for kids</h2>
        <p>
                Ensuring physical health in children is vital for their overall well-being and development. As parents, you play a crucial role in promoting their physical activity and ensuring they lead a healthy lifestyle.
              </p>
              <ul>
                <li><strong>Encourage Regular Exercise:</strong> Encourage your child to engage in regular physical activity, such as playing outdoors, riding bikes, or participating in sports.</li>
                <li><strong>Limit Screen Time:</strong> Set limits on screen time, including TV, video games, and smartphones. Encourage alternative activities that promote physical movement and social interaction.</li>
                <li><strong>Promote Active Transportation:</strong> Encourage walking or biking to school whenever possible instead of driving.</li>
                <li><strong>Provide Nutritious Meals:</strong> Offer a balanced diet rich in fruits, vegetables, whole grains, lean proteins, and healthy fats.</li>
                <li><strong>Ensure Adequate Sleep:</strong> Establish a regular bedtime routine and ensure your child gets enough sleep each night.</li>
                <li><strong>Promote Good Posture:</strong> Encourage your child to sit and stand with good posture to prevent musculoskeletal issues.</li>
                <li><strong>Lead by Example:</strong> Be a positive role model by prioritising your own physical health and leading an active lifestyle.</li>
                <li><strong>Encourage Outdoor Play:</strong> Provide opportunities for outdoor play and exploration.</li>
                <li><strong>Stay Hydrated:</strong> Encourage your child to drink plenty of water throughout the day, especially during physical activity.</li>
                <li><strong>Monitor Health and Development:</strong> Keep track of your child's growth, development, and overall health.</li>
              </ul>
                For more information, you can visit:
              <div>
                    <a href="https://kidshealth.org/en/parents/exercise.html" target="_blank">Kids and Exercise</a><br>
                    <a href="https://www.nhs.uk/live-well/exercise/physical-activity-guidelines-children-under-five-years/" target="_blank">Physical activity guidelines for children (under 5 years)</a>
              </div>
    </div>
</div>

<!-- sleep container 3 -->
<div id="sleep"  class="container-xxl py-4">
    <div class="container">
        <h2 class="section-title mb-4 text-primary">Sleep & Bedtime</h2>
        <p>
                Ensuring physical health in children is vital for their overall well-being and development. As parents, you play a crucial role in promoting their physical activity and ensuring they lead a healthy lifestyle.
              </p>
              <ul>
                <li><strong>Encourage Regular Exercise:</strong> Encourage your child to engage in regular physical activity, such as playing outdoors, riding bikes, or participating in sports.</li>
                <li><strong>Limit Screen Time:</strong> Set limits on screen time, including TV, video games, and smartphones. Encourage alternative activities that promote physical movement and social interaction.</li>
                <li><strong>Promote Active Transportation:</strong> Encourage walking or biking to school whenever possible instead of driving.</li>
                <li><strong>Provide Nutritious Meals:</strong> Offer a balanced diet rich in fruits, vegetables, whole grains, lean proteins, and healthy fats.</li>
                <li><strong>Ensure Adequate Sleep:</strong> Establish a regular bedtime routine and ensure your child gets enough sleep each night.</li>
                <li><strong>Promote Good Posture:</strong> Encourage your child to sit and stand with good posture to prevent musculoskeletal issues.</li>
                <li><strong>Lead by Example:</strong> Be a positive role model by prioritising your own physical health and leading an active lifestyle.</li>
                <li><strong>Encourage Outdoor Play:</strong> Provide opportunities for outdoor play and exploration.</li>
                <li><strong>Stay Hydrated:</strong> Encourage your child to drink plenty of water throughout the day, especially during physical activity.</li>
                <li><strong>Monitor Health and Development:</strong> Keep track of your child's growth, development, and overall health.</li>
              </ul>
                For more information, you can visit:
                <div>
                    <a href="https://kidshealth.org/en/parents/exercise.html" target="_blank">Kids and Exercise</a><br>
                    <a href="https://www.nhs.uk/live-well/exercise/physical-activity-guidelines-children-under-five-years/" target="_blank">Physical activity guidelines for children (under 5 years)</a>
                </div>
    </div>
</div>

<!-- skills training for parents 1 -->
<!-- TODO: ADD IMAGES AND THINK ABOUT WHAT TRAINING -->
<div id="training"  class="container-xxl py-4">
    <div class="container">
        <h2 class="section-title mb-4 text-primary">Skills Training to Support your child</h2>

        <div class="row row-cols-4">
              <div class="col">
                <div class="content">
                  <img src="mountains.jpg" alt="Mountains" style="width:100%">
                  <h3>My Work</h3>
                  <p>Lorem ipsum..</p>
                </div>
              </div>
              <div class="col">
                <div class="content">
                  <img src="lights.jpg" alt="Lights" style="width:100%">
                  <h3>My Work</h3>
                  <p>Lorem ipsum..</p>
                </div>
              </div>
              <div class="col">
                <div class="content">
                  <img src="nature.jpg" alt="Nature" style="width:100%">
                  <h3>My Work</h3>
                  <p>Lorem ipsum..</p>
                </div>
              </div>
              <div class="col">
                <div class="content">
                  <img src="mountains.jpg" alt="Mountains" style="width:100%">
                  <h3>My Work</h3>
                  <p>Lorem ipsum..</p>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
